* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  color: #2d3448;
  height: 100vh;
  background-color: #2d3448;

  a {
    text-decoration: none;
  }

  .input,
  .textarea {
    margin: 0;
    font-size: 100%;
    height: 60px;
    padding: 0 20px;
    line-height: 1.33;
    width: 100%;
    border: 0px solid #000;
    outline: none;
    border-radius: 0;
    color: #2d3448;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .textarea {
    height: 85px;
    padding-top: 10px;
    vertical-align: unset;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .button {
    color: #2d3448;
    background-color: #ffb82d;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    width: 160px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    display: block;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border: 0 none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #fcc844;
    }

    &__back {
      background-color: #edeee7;

      &:hover {
        background-color: #d8d9d0;
      }
    }
  }

  .row {
    padding: 0 20px;
  }

  .burger {
    position: relative;
    width: 50px;
    cursor: pointer;
    padding: 23px 34px;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .burger-elem {
      border-bottom: 3px solid #2d3448;
      width: 28px;
      position: absolute;
    }

    .first {
      top: 10px;
      right: 0;
    }

    .second {
      top: 20px;
      right: 0;
    }

    .third {
      top: 31px;
      right: 0;
    }
  }

  .header {
    padding: 15px 0;
    background-color: #fffaf2;
    flex: 0 0 auto;

    &__row,
    &__navs {
      display: flex;
      align-items: center;
    }

    &__row {
      width: 100%;
      justify-content: space-between;
    }

    &__navs {
      width: 60%;
      justify-content: start;
      margin-left: -50px;
    }

    &__nav {
      margin-left: 50px;

      &.logo {
        position: relative;
        top: 3px;

        img {
          @media screen and (max-width: 425px) {
            width: 180px
          }
        }
      }

      a {
        color: #2d3448;
        font-size: 16px;
        font-family: 'RobotoSlab', Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        letter-spacing: 0.5px;
        border-width: 1px;
        border-radius: 30px;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

        @media screen and (max-width: 768px) {
          font-size: 22px;
        }

        &:hover {
          color: #ffb82d;
        }
      }
    }

    &__enter {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__who {
      margin-top: 10px;

      span {
        font-weight: bold;
      }
    }
  }

  .main {
    background-color: #2d3448;
    min-height: 0;
    color: #ffffff;
    flex: auto;

    &__wrapper {
      padding: 25px 0;
    }

    h2 {
      margin-bottom: 40px;
    }

    .area {
      padding: 24px;
      overflow-y: auto;
      background-color: #394155;
      border-radius: 20px;
    }
  }

  .footer {
    flex: 0 0 auto;
  }

  .add_news {
    .button {
      margin: 0;
    }

    &__back {
      &.button {
        margin-bottom: 30px;
      }
    }
  }

  .news_item {
    max-width: 100%;
    width: 48%;
    min-width: 320px;
    border: 2px solid #ffb82d;
    border-radius: 10px;
    padding: 17px;
    min-height: auto;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 60px;

    @media screen and (max-width: 992px) {
      width: 100%;
      min-width: 100%;
    }

    &__delete {
      position: absolute;
      bottom: 18px;
    }

    &__header {
      font-size: 24px;
      line-height: 1.55;
      font-weight: 600;
    }

    &__date {
      font-size: 18px;
      font-weight: 500;
      color: #fffaf2;
    }

    &__text {
      font-size: 20px;
    }

    &__approve {
      label {
        cursor: pointer;
      }
    }

    &__button {
      height: 40px;
      margin: 0;
      background-color: #e17b60;
      width: 110px;

      &:hover {
        background-color: #ee3338;
      }
    }
  }

  .news {

    &__sorted {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }

    &__add-button {
      margin: 0;
      margin-bottom: 30px;
      width: 200px;
    }
  }
}

.error404__button {

  &.button {
    margin: 0;

    a {
      color: #2d3448;
    }
  }
}

.nav-exit,
.nav-item {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.form {

  &__error {
    margin-top: 20px;
    text-align: center;
    color: #e17b60;
  }
}

.item-block {
  margin: 20px 0;
}

.error_enter {
  border: 2px solid red;
}

.form__error.hide {
  display: none;
}

.popup {
  height: 100%;
  width: 100%;
  background-color: #ffc1075c;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  padding: 0 20px;
}

.mobMenu {
  height: 100%;
  width: 100%;
  background-color: #fffaf2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transform: scale(1);
  padding: 131px 20px;
  z-index: 1;
  transition: .3s all;

  .header__navs {
    flex-direction: column;
  }

  .mob_nav {
    margin-top: 51px;
    margin-bottom: 40px;
  }
}

.mobMenu.hide {
  transform: scale(0);
  right: -768px;
  transition: .3s all;
}

.exit {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}